
<mat-card>
  <mat-card-header>Add Employee</mat-card-header>
  <mat-card-content>
    <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input [(ngModel)]="employee.firstName" matInput
            >
    </mat-form-field>
  </div>
    <div>
    <mat-form-field>
      <mat-label>Surname </mat-label>
      <input  [(ngModel)]="employee.surname"  matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <input type="number" [(ngModel)]="employee.role" matInput
            >
    </mat-form-field>
  </div>
    <div>
    <mat-form-field>
      <mat-label>Office</mat-label>
      <input  [(ngModel)]="employee.office"  matInput>
    </mat-form-field>
  </div>
  <div>
    <button (click)="onCreate()" mat-raised-button color="primary">
      Create
    </button>
  </div>
  <div class="error-sec" *ngIf="!(errorMes === '')">
    <p>{{errorMes}}</p>
  </div>
  </mat-card-content>
</mat-card>
